<form >
    <div class="input-container">
        <label for="name">Name: </label>
        <input name="name" id="name" disabled [(ngModel)]="connectionService.connection.name" type="text">
    </div>
    <div class="input-container">
        <label for="description"> Description: </label>
        <textarea  style="resize: none;" width="12" height="10" name="description" id="description" [(ngModel)]="connectionService.connection.description" type="text">
        </textarea>
    </div>
    <div class="input-container">
        <button class="btn btn-primary" type="submit"> Save</button>
        <button class="btn btn-default" type="button"> Cancel</button>
    </div>
</form>