<form >
    <div class="input-container">
        <label for="name">Name: </label>
        <input name="name" id="name" disabled [(ngModel)]="mappingService.mapping.name" type="text">
    </div>
    <div class="input-container">
        <label for="description"> Description: </label>
        <textarea  style="resize: none;" width="12" height="10" name="description" id="description" [(ngModel)]="mappingService.mapping.description" type="text">
        </textarea>
    </div>
    <div class="dataset-fields">
        <label >Mapped Fields: </label>
        <table class="table">
            <thead>
                <tr>
                    <th>Source Field</th>
                    <th>Target Field</th>
                    <th>Action</th>
                </tr>
                
            </thead>
            <tbody>
                <tr *ngFor="let mappedField of mappingService.mapping.mappedFields">
                    <td>{{mappedField.sourceField}}</td>
                    <td>{{mappedField.targetField}}</td>
                    <td><fa-icon [icon]="faTrash"></fa-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="input-container">
        <button class="btn btn-primary" type="submit"> Save</button>
        <button class="btn btn-default" type="button"> Cancel</button>
    </div>
</form>