.mapping-container {
    padding: 5px;
    span {
        font-size: 0.8rem;
    }
    fa-icon {
        display: none;
        opacity: 0.6;
        float: right;
        margin-right: 10px;;
    }
    fa-icon.arrow {
        display: inline;
        float: none;
        margin-left: 10px;
    }
}
.mapping-container:hover {
    fa-icon {
        display: inline;
    }
}
